@keyframes scale-hero-title {
  0% {
    transform: scale(initial);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes scale-question-number {
  0% {
    transform: scale(initial);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes correct-answer {
  0% {
    transform: scale(initial);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes incorrect-answer {
  from {
    transform: translateX(1rem);
  }
  to {
    transform: translateX(initial);
  }
}
