@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

@keyframes scale-hero-title {
  0% {
    transform: scale(initial);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes scale-question-number {
  0% {
    transform: scale(initial);
  }
  to {
    transform: scale(1.2);
  }
}
.header {
  background-color: #031430;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.header__logo-link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
}
.header__logo-img {
  width: 100%;
  height: 100%;
}
.header__nav {
  width: 100%;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}
.header__menu-item {
  width: 45%;
  background-color: rgb(205, 174, 234);
  border: 1px solid blueviolet;
  border-radius: 12px;
  color: blueviolet;
  text-align: center;
}
.header__menu-item:hover {
  background-color: blueviolet;
}
.header__menu-item:hover .header__menu-link {
  font-weight: 600;
  color: white;
}
.header__menu-item--active {
  background-color: blueviolet;
}
.header__menu-link {
  color: blueviolet;
}
.header__menu-link--active {
  font-weight: 600;
  color: white;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../assets/hero.png");
  height: 50vw;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-bottom: 0.5rem;
  animation: scale-hero-title 2s linear alternate infinite;
}

.game {
  background-color: #031430;
  padding: 1rem;
  height: auto;
}
.game__section-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.game__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}
.game__label {
  color: white;
  margin-right: 0.5rem;
}
.game__btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.game__start-btn {
  cursor: pointer;
  height: 2.5rem;
  width: 30%;
  font-weight: 600;
  border-radius: 8px;
  background-color: rgb(205, 174, 234);
  color: blueviolet;
}
.game__start-btn:hover {
  background-color: blueviolet;
  color: white;
}
.game__start-btn:active {
  transform: scale(95%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.game__category, .game__difficult {
  width: 25rem;
  border-radius: 12px;
  text-align: center;
  background-color: blueviolet;
  color: white;
}
.game__prize-ladder {
  width: 25%;
  height: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.game__prize-amount {
  width: 8rem;
  text-align: center;
  color: white;
  border: 1px solid blueviolet;
  border-radius: 12px;
}
.game__prize-amount--selected {
  background-color: #f7d408;
  color: blueviolet;
  animation: scale-question-number 500ms linear alternate infinite;
}
.game__container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.game__card {
  border: 1px solid blueviolet;
  border-radius: 15px;
  padding: 1rem;
}
.game__question {
  color: blueviolet;
  background-color: #f7d408;
  height: 8rem;
  width: 40rem;
  padding: 1rem;
  border: 1px solid blueviolet;
  border-radius: 12px;
  font-size: 1.2rem;
}
.game__answer {
  color: white;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid blueviolet;
  border-radius: 35px;
}
.game__answer:hover {
  color: blueviolet;
  background-color: #f7d408;
}
.game__answer--selected {
  color: blueviolet;
  background-color: #f7d408;
}
.game__answer--correct {
  color: blueviolet;
  background-color: #14f204;
}
.game__answer--incorrect {
  color: white;
  background-color: red;
}

.footer {
  background-color: black;
  padding: 1rem;
}
.footer__section-title {
  color: white;
}
.footer__contact-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.footer__creator {
  color: white;
  margin-bottom: 0.5rem;
}
.footer__icon-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0.5rem;
}
.footer__icon-link:hover {
  text-decoration: underline;
}
.footer__icon {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
}/*# sourceMappingURL=styles.css.map */