@use './partials/typography' as *;
@use './partials/mixins' as *;
@use './partials/animations' as *;
@use './partials/global' as *;

.hero {
  @include flexbox(row, center, flex-end);

  height: 50vw;
  width: 100%;

  background-image: url('../assets/hero.png');
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 1rem;

    animation: scale-hero-title 2s linear alternate infinite;
  }
}

.game {
  padding: 1rem;

  background-color: #031430;

  &__section-title {
    margin-bottom: 2rem;

    font-size: 2rem;
    color: white;
    text-align: center;
  }

  &__container {
    @include flexbox(column, center, center);

    margin-bottom: 2rem;

    @include tablet {
      @include flexbox(row, space-between, center);
    }
  }

  &__label {
    color: white;
    margin-right: 0.5rem;
  }

  &__btn-container {
    @include flexbox(row, flex-start, center);
    gap: 5rem;

    width: 100%;
    margin-bottom: 2rem;
  }

  &__user-msg {
    color: white;
  }

  &__start-btn {
    @include button;
  }

  &__category,
  &__difficult {
    margin-bottom: 1rem;
    width: 18rem;

    background-color: blueviolet;
    border-radius: 12px;

    text-align: center;
    color: white;

    @include tablet {
      margin-bottom: 0rem;
      width: 25rem;
    }
  }

  &__prize-ladder {
    @include flexbox(row, space-around, center);
    flex-wrap: wrap;
    gap: 1rem;

    margin-bottom: 1rem;

    @include tablet {
      @include flexbox(column, space-between, center);

      margin-bottom: 0rem;
      width: 25%;
      height: 29rem;
    }
  }

  &__prize-amount {
    width: 8rem;

    text-align: center;
    color: white;

    border: 1px solid blueviolet;
    border-radius: 12px;

    &--selected {
      background-color: #f7d408;
      color: blueviolet;

      animation: scale-question-number 500ms linear alternate infinite;
    }
  }

  &__container2 {
    @include flexbox(column, space-around, center);

    padding: 1rem;
    width: 100%;

    background-color: #ea62e810;
    border-radius: 1rem;

    @include tablet {
      @include flexbox(row, space-around, center);
    }
  }

  &__card {
    padding: 1rem;

    border: 1px solid blueviolet;
    border-radius: 15px;
  }

  &__question {
    padding: 1rem;
    height: 8rem;
    width: 100%;

    font-size: 1rem;
    color: blueviolet;

    background-color: #f7d408;
    border: 1px solid blueviolet;
    border-radius: 12px;

    @include tablet {
      font-size: 1.2rem;
      height: 10rem;
    }
  }

  &__answer {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;

    border: 1px solid blueviolet;
    border-radius: 35px;

    color: white;

    &:hover {
      color: blueviolet;
      background-color: #f7d408;
    }

    &--selected {
      color: blueviolet;
      background-color: #f7d408;
    }

    &--correct {
      color: blueviolet;
      background-color: #14f204;
      animation: correct-answer 250ms linear alternate infinite;
      &:hover {
        color: blueviolet;
        background-color: #14f204;
      }
    }

    &--incorrect {
      color: white;
      background-color: red;
      &:hover {
        color: white;
        background-color: red;
      }
      animation: incorrect-answer 20ms linear alternate 5;
    }
  }
}
